.buddySwipeAndMatch {
    margin: 2.5% 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.buddySwipe, .buddySwipe *, .buddyMatch, .buddyMatch * {
    max-width: 45vw;
}

.buddyMatch, .buddySwipe {
    width: 100%;
    min-width: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 2.5% 0;
}



.buddySwipeAndMatch button {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #FDC4E6;
    margin: 1rem .5rem 0 .5rem;
}
