.buddyMatchImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #FDC4E6;
}

.buddyMatchList {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}