.App {
  text-align: center;
}

body {
  background-color: #124039;
}

a, p {
  color: white
}

button, a {
  cursor: pointer;
}

/* .navBefore {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: rgba(169, 169, 169, 0.747);
  height: 50px;
  padding-top: 5px;
  font-size: 25px;
  color: #031736;
  align-items: center;
}

.navBefore a {
  display: inline;
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
}

.navAfter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: rgba(169, 169, 169, 0.747);
  height: 50px;
  padding-top: 5px;
  font-size: 25px;
  color: #031736;
  align-items: center;
}

.navAfter a {
  display: inline;
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
} */

/* .searchbar input {
  width: 200px;
  height: 30px;
  border: 1px solid;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(229, 223, 223, 0.747);
}
.searchbar button {
  height: 34px;
  border: 1px solid;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(203, 196, 196, 0.747);
} */

/* .homePageTitle {
  text-align: center;
  background-image: url('https://media.istockphoto.com/id/517180252/photo/chicago-skyline.jpg?s=612x612&w=0&k=20&c=hjkUVtQPVKHONU5N1XdQ73uQU01Z2LAdwRWYbeng0JY=');
  background-size: cover;
  background-position: 20% 45%;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
}

.homePageTitle h1 {
  font-size: 60px;
  position:absolute;
  left:23%;
  letter-spacing: 5px;
}

.homeCategory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5px;
  margin-top: 10px;
  justify-content: center;
}

.homeCategory img {
  width: 450px;
  height: 450px;

} */

.aboutMeTitle {
  font-size: 60px;
  background-color:#FDC4E6;
  height: 300px;
  z-index: 1;
}

.aboutMeTitle h1 {
  position: absolute;
  left: 38%;
}

.aboutMeInfo {
  border: 0 solid rgba(177, 167, 167, 0.747);
  border-radius: 10px;
  position: relative;
  left: 29%;
  width: 800px;
  margin-top: -60px;
  font-size: 25px;
  background-color: rgba(177, 167, 167, 0.747);
  z-index: 2;
  box-shadow: 20px 20px 50px rgb(173, 152, 152);
}

.aboutMeInfo ul {
  list-style: none;
  
}

.aboutMeInfo button {
  background-color: transparent;
  height: 35px;
  width: 90px;
  border-radius: 10px;
  font-size: 18px;
}

.aboutMeInfo p, .aboutMeInfo ul, .aboutMeInfo a, .aboutMeInfo button {
  margin: 20px 20px 20px 20px;
}

.signInPage {
  border: .2px solid  rgba(177, 167, 167, 0.747);
  border-radius: 25px;
  position: absolute;
  height: 600px;
  width: 500px;
  margin-top: 50px;
  margin-left: 620px;
  background-color: rgba(177, 167, 167, 0.747);
  box-shadow: 20px 20px 50px 10px rgb(173, 152, 152)
}

.signInPage h1{
  font-size: 60px;
  background-color: rgba(163, 136, 136, 0.747);
  margin-top: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 100px;
}

.loginLabel{
  font-size: 20px;
  margin-top: 10px;
}

.signInPage input{
  height: 20px;
  width: 200px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 10px;
  background-color: transparent;
}

.signInPage button {
  margin-top: 50px;
  font-size: 15px;
  width: 200px;
  border-radius: 5px;
  background-color: transparent;
}

.registerPage {
  border: 2px solid white;
  position: absolute;
  margin-left: 620px;
  margin-top: 40px;
  height: 850px;
  width: 500px;
  border: .2px solid  rgba(177, 167, 167, 0.747);
  border-radius: 25px;
  background-color: rgba(177, 167, 167, 0.747);
  box-shadow: 20px 20px 50px 10px rgb(173, 152, 152)
}

.label {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 3px;
}

.registerPage h1{
    font-size: 60px;
    background-color: cadetblue;
    margin-top: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100px;
}

.registerPage input {
  height: 20px;
  width: 200px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 10px;
  background-color: transparent;
}

.registerPage textarea{
  background-color: rgba(194, 189, 189, 0.747);
  height: 100px;
  width: 300px
}

.registerPage button {
  margin-top: 20px;
  font-size: 15px;
  width: 200px;
  border-radius: 15px;
  background-color: transparent;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
}

.profileImage img {
  height: auto;
  width: 900px;
  grid-column: 1/2;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 80px;
  box-shadow: 20px 20px 50px 10px #FDC4E6
  ;
}

.profileRight {
  grid-column: 2/3;
  margin-top: 10px;
  
}

.profileRight h1{
  font-size: 40px;
  margin-top: 10px;
  color: white
}

.profileRight h2{
  font-size: 25px;
  margin-top: 10px;
  color: #FDC4E6;
}

.profileRight h3{
  color: white
}

.profileRight p {
  font-size: 25px;
  font-weight: 500;
}

.profileRight button {
  margin-right: 20px;
  margin-left: 20px;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #FDC4E6;
}

.addActivityPage {
  border: 2px solid white;
  position: absolute;
  margin-left: 550px;
  margin-top: 40px;
  height: 850px;
  width: 800px;
  border: .2px solid  rgba(177, 167, 167, 0.747);
  background-color: rgba(177, 167, 167, 0.747);
  box-shadow: 20px 20px 50px 10px rgb(173, 152, 152)
}

.addActivityPage h1 {
  font-size: 50px;
}

.addActivityPage input, .addActivityPage select{
  height: 20px;
  width: 200px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
 
  margin-bottom: 10px;
  background-color: transparent;
}

.addActivityPage textarea{
  height: 200px;
  width: 400px;
  border: 2px solid black;
  margin-top: 20px;
  background-color: transparent;
}

.addActivityPage button {
  margin-top: 40px;
  font-size: 20px;
  width: 500px;
  border-radius: 15px;
  background-color: transparent;
}
